:root {
    --sys-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
    --cjk-sans: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "WenQuanYi Micro Hei";
    --font-size: 18px;
    --main-width: 880px;
    --pad-width: 95%;
    --color-link: #00bcff;
    --color-link-active: #79a8ff;
}
:root {
    --rgb-primary: 0,0,0;
    --rgb-wb: 255,255,255;
}
html {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    margin: 0 auto;
    padding: 0;
    font: 18px/1.42 var(--sys-sans),var(--cjk-sans),sans-serif;
    /*background: #f4f4f4;*/
    background: #fff;
    color: #444;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1,h2,h3,h4 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #111;
    opacity: .9;
}
h1 img,h2 img,h3 img,h4 img {
    vertical-align: middle;
    border: 0 none;
}
h1 {
    font-size: 1.8em;
    margin: 1em 0;
    font-weight: 600;
    letter-spacing: 0.02em;
}
h2 {
    margin: .6em 0;
    font-size: 1.6em;
    font-weight: 500;
}
h3 {
    font-size: 1.3em;
    margin: 0.2em 0;
    font-weight: 500;
}
h4, h5, h6 {
    font-size: 1.2em;
    margin: 0.2em 0;
    font-weight: 500;
}
a {
    text-decoration: none;
    /*color: #222;*/
    color: var(--color-link);
   /* transition: color 0.3s ease-in 0.1s;*/
}
a:hover {
/*    color: #a5573e;*/
    color: var(--color-link-active);
    text-decoration: underline;
}
pre {
    background: #fafafa;
    overflow: auto;
    font-size: 1em;
}
pre.src {
    width: 95%;
}
code {
    border: 1px solid #ccc;
    padding: 2px;
    margin: 0px;
    color: #666;
    font-size: 1em;
    overflow-x: auto;
}
blockquote {
    position: relative;
    margin-right: 0;
    padding: .2em 0 0;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
    /*font-size: 1em;*/
    border: 0;
    color: #555;
}
blockquote::before {
    position: absolute;
    top: -2px;
    left: -.6em;
    content: "\201c";
    font: 700 60px/1 "Droid Serif",serif;
    color: #ddd;
}
blockquote p {
    margin: 0 !important;
    padding: 0 0 5px;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 90%;
    position: relative;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img, video {
    border: none;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 2px;
}
img.no-border {
    border: none;
}
figure {
    margin: 0;
    padding: 0;
}
figcaption {
    /* margin-top: 0.3em; */
    margin-bottom: 1em;
    text-align: center;
    font-size: .8em;
}
img.profile {
    border-radius: 50%;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 200px;
}
p {
    margin: .6em 0;
}
.index-item p {
    font-size: 0.9em;
    text-align: center;
}
span .timestamp {
    font-size: 0.9em;
    color: #777;
}
.description {
    margin-top: -.6em;
}
.article-info {
    display: flex;
    flex-direction: row;
    font-size: .9em;
    color: #aaa;
}
.article-info-old {
    display: flex;
    flex-direction: row;
    font-size: .9em;
    color: #aaa;
    padding-bottom: 10px;
    margin-top: -20px;
}
.article-info p {
    margin: 0 !important;
}
.tags {
    margin-left: 20px;
    color:#aaa;
}
.date {
    color: #aaa;
}
.description p {
    margin: 5px 0 !important;
}
.clearfix {
    clear: both;
}

/* Site layout */

#top {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*background-color: transparent;*/
    width: 100%;
    margin: 0;
    line-height: 1em;
    background-color: #fff;
    opacity: 0.8;
}
nav.menu {
    max-width: var(--main-width);
    padding: 10px 0;
    margin: 0 auto;
    flex-basis: 100%;
}
nav.menu label, nav.menu input {
    display: none;
}
nav.menu a {
    margin-right: 20px;
    font-weight: 400;
    color: #000;
    font-size: 1.1em;
}
#content {
    padding: 20px 0 10px;
    margin: 0 auto;
    max-width: var(--main-width);
}
#content p {
    margin: 15px 0;
}
.title {
    text-align: center;
    margin: 5px 0;
}
h1.title {
    color: #333;
}
.subtitle {
    text-align: center;
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 1em;
}
section {
    margin: 2em auto;
}
.notepage ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.notepage ul.org-ul {
    margin: 0;
}
.notepage ul li {
    flex: 1 0 50%;
    flex-basis: 50%;
}
.notedate {
    /*margin-top: -1.8em;*/
}
main#content p a {
/*    color: #a55;*/
}
main#content li a {
/*    color: #a55;*/
}

.row-left {
    width: 48%;
    display: inline-grid;
}
.row-right {
    width: 48%;
    display: inline-grid;
    padding-left: 25px;
}
.entry-date {
    color: #999;
    text-align: center;
    font-size: 0.9em;
}
.entry-date p {
    margin: 0 !important;
}
.updated {
    padding-left: 20px;
}
#table-of-contents h2 {
    color: #333;
}
.info {
    display: none;
}
#postamble {
    padding: 0;
    margin-top: auto;
}
#discus {
    border-bottom: 1px solid aliceblue;
    color: #333;
}
h2#discus {
    margin-top: 30px;
}
#comment {
    margin: 10px auto 20px;
    font-size: 1em;
}
.vwrap {
    border-color: #eee !important;
}
.vempty {
    /*display: none !important;*/
}
.vpower {
    display: none;
}
.twikoo {
		margin-top: 20px;
}
.tk-footer {
		display: none;
}
#jinrishici-sentence {
    text-align: center;
}
#footer {
    margin: 10px 0 0;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    color: #777;xs
}
#footer p {
    text-align: center;
    margin: 0;
    font-size: 0.7em;
}
.footdef sup {
    font-size: 0.9em;
    line-height: 1;
    top: 0.4em;
}
.footpara {
    display: inline;
    font-size: 0.9em;
    font-weight: 400;
}
.footpara a {
    word-break: break-all;
}

@media (max-width: 820px) {
    #header {
	padding-left: 10px;
	padding-right: 10px;
    }
    #content {
	padding: 20px 10px 10px 10px;
    }
    .row-left  {
	width: 100%;
	display: inherit;
    }
    .row-right {
	width: 100%;
	display: inherit;
	padding-left: 0;
    }
}

@media (max-width: 700px) {
    h1 { font-size: 1.6em;}
    h2 { font-size: 1.4em;}
    h3 { font-size: 1.3em;}
    h4, h5, h6 { font-size: 1.2em;}
    #header {  padding-right: 10px;
	       padding-left: 10px;}
    #content { padding-right: 10px;
	       padding-left: 10px;
	       font-size: 1.1em;
	       max-width: var(--pad-width);}
    img.profile {
	margin-top: 30px;}
    .notepage ul {
	display: block;}
    img { max-width: 100%;
	  height: auto;}
    nav.menu {
	max-width: var(--pad-width);
        display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;}
    nav.menu a {
	margin-left: 10px;}
    nav.menu span {
	display: none;}
    /*nav.menu a{
	display: none;}*/
    nav.menu input:checked ~ a {
	display: inline-block;}
}

/* Prettify.css */
.pln {
  color: #bd3613; }
.str {
  color: #48b3a8; }
.kwd {
  color: #a7bb22; }
.com {
  color: #7a8397;
  font-style: italic; }
.typ {
  color: #b58900; }
.lit {
  color: #2aa198; }
.pun {
  color: #a5b6b8; }
.opn {
  color: #a5b6b8; }
.clo {
  color: #a5b6b8; }
.tag {
  color: #48adf4; }
.atn {
  color: #7a8397; }
.atv {
  color: #2aa198; }
.dec {
  color: #48adf4; }
.var {
  color: #48adf4; }
.fun {
  color: #FF2222; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: #000000;
  padding: 10px;
  overflow: auto;
  border: 1px solid #E1E1E8; }
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #4c666c;
  margin: 0 0 0 40px; }
ol.linenums li {
  line-height: 18px;
  padding-left: 12px; }
ul.org-ul {
    /*list-style-type: square;*/
    margin-left: 20px;
    padding-left: 0;
}
ol.org-ol {
    margin-left: 20px;
    padding-left: 0;
}

/* table -- from orgcss https://github.com/gongzhitaao/orgcss */

table {
    margin: 1em auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-collapse: collapse;
}
thead {
    border-bottom: 2px solid;
}
table td + td, table th + th {
    border-left: 1px solid gray;
}
table tr {
    border-top: 1px solid lightgray;
}
td,th {
    padding: 0.3em 0.6em;
    vertical-align: middle;
}
caption.t-above {
    caption-side: top;
}
caption.t-bottom {
    caption-side: bottom;
}
caption {
    margin-bottom: 0.3em;
}
figcaption {
    margin-top: 0.3em;
}
th.org-right {
    text-align: center;
}
th.org-left {
    text-align: center;
}
th.org-center {
    text-align: center;
}
td.org-right {
    text-align: right;
}
td.org-left {
    text-align: left;
}
td.org-center {
    text-align: center;
}

.todo {
    background-color: red;
    color: white;
    padding: .1em 0.3em;
    border-radius: 3px;
    background-clip: padding-box;
    font-size: 1em;
    font-family: $monospace;
    line-height: 1;
}
.done {
    background-color: green;
    color: white;
    padding: .1em 0.3em;
    border-radius: 3px;
    background-clip: padding-box;
    font-size: 1em;
    font-family: $monospace;
    line-height: 1;
}
.priority {
    color: orange;
    font-family: $monospace;
}

/* Because tag span is set to float.  This is more like a hacking.  Maybe we
   need a cleaner solution. */
#table-of-contents li {
    clear: both;
}
.org-src-container {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    font-family: $monospace;
    font-size: 1em;
    margin: 1em auto;
    padding: 0.1em 0.5em;
    position: relative;
}
.org-src-container>pre {
    overflow: auto;
}
.org-src-container>pre:before {
    display: block;
    position: absolute;
    background-color: #b3b3b3;
    top: 0;
    right: 0;
    padding: 0 0.5em;
    border-bottom-left-radius: 8px;
    border: 0;
    color: white;
    font-size: .8em;
}

/* from http://demo.thi.ng/org-spec/ <link rel="stylesheet" type="text/css" href="https://gongzhitaao.org/orgcss/org.css"/> */

.org-src-container>pre.src-sh:before {
    content: 'sh';
}
.org-src-container>pre.src-bash:before {
    content: 'bash';
}
.org-src-container>pre.src-emacs-lisp:before {
    content: 'Emacs Lisp';
}
.org-src-container>pre.src-R:before {
    content: 'R';
}
.org-src-container>pre.src-org:before {
    content: 'Org';
}
.org-src-container>pre.src-cpp:before {
    content: 'C++';
}
.org-src-container>pre.src-c:before {
    content: 'C';
}
.org-src-container>pre.src-html:before {
    content: 'HTML'
}
.org-src-container>pre.src-js:before {
    content: 'Javascript'
}
.org-src-container>pre.src-javascript:before {
    content: 'Javascript'
}

/* // More languages from http://orgmode.org/worg/org-contrib/babel/languages.html */

.org-src-container>pre.src-abc:before {
    content: 'ABC';
}
.org-src-container>pre.src-asymptote:before {
    content: 'Asymptote';
}
.org-src-container>pre.src-awk:before {
    content: 'Awk';
}
.org-src-container>pre.src-C:before {
    content: 'C';
}
.org-src-container>pre.src-calc:before {
    content: 'Calc';
}
.org-src-container>pre.src-clojure:before {
    content: 'Clojure';
}
.org-src-container>pre.src-comint:before {
    content: 'comint';
}
.org-src-container>pre.src-css:before {
    content: 'CSS';
}
.org-src-container>pre.src-D:before {
    content: 'D';
}
.org-src-container>pre.src-ditaa:before {
    content: 'Ditaa';
}
.org-src-container>pre.src-dot:before {
    content: 'Dot';
}
.org-src-container>pre.src-ebnf:before {
    content: 'ebnf';
}
.org-src-container>pre.src-forth:before {
    content: 'Forth';
}
.org-src-container>pre.src-F90:before {
    content: 'Fortran';
}
.org-src-container>pre.src-gnuplot:before {
    content: 'Gnuplot';
}
.org-src-container>pre.src-haskell:before {
    content: 'Haskell';
}
.org-src-container>pre.src-io:before {
    content: 'Io';
}
.org-src-container>pre.src-java:before {
    content: 'Java';
}
.org-src-container>pre.src-latex:before {
    content: 'LaTeX';
}
.org-src-container>pre.src-ledger:before {
    content: 'Ledger';
}
.org-src-container>pre.src-ly:before {
    content: 'Lilypond';
}
.org-src-container>pre.src-lisp:before {
    content: 'Lisp';
}
.org-src-container>pre.src-makefile:before {
    content: 'Make';
}
.org-src-container>pre.src-matlab:before {
    content: 'Matlab';
}
.org-src-container>pre.src-max:before {
    content: 'Maxima';
}
.org-src-container>pre.src-mscgen:before {
    content: 'Mscgen';
}
.org-src-container>pre.src-Caml:before {
    content: 'Objective';
}
.org-src-container>pre.src-octave:before {
    content: 'Octave';
}
.org-src-container>pre.src-perl:before {
    content: 'Perl';
}
.org-src-container>pre.src-picolisp:before {
    content: 'Picolisp';
}
.org-src-container>pre.src-plantuml:before {
    content: 'PlantUML';
}
.org-src-container>pre.src-python:before {
    content: 'Python';
}
.org-src-container>pre.src-ruby:before {
    content: 'Ruby';
}
.org-src-container>pre.src-sass:before {
    content: 'Sass';
}
.org-src-container>pre.src-scala:before {
    content: 'Scala';
}
.org-src-container>pre.src-scheme:before {
    content: 'Scheme';
}
.org-src-container>pre.src-screen:before {
    content: 'Screen';
}
.org-src-container>pre.src-sed:before {
    content: 'Sed';
}
.org-src-container>pre.src-shell:before {
    content: 'shell';
}
.org-src-container>pre.src-shen:before {
    content: 'Shen';
}
.org-src-container>pre.src-sql:before {
    content: 'SQL';
}
.org-src-container>pre.src-sqlite:before {
    content: 'SQLite';
}
.org-src-container>pre.src-stan:before {
    content: 'Stan';
}
.org-src-container>pre.src-vala:before {
    content: 'Vala';
}
.org-src-container>pre.src-axiom:before {
    content: 'Axiom';
}
.org-src-container>pre.src-browser:before {
    content: 'HTML';
}
.org-src-container>pre.src-cypher:before {
    content: 'Neo4j';
}
.org-src-container>pre.src-elixir:before {
    content: 'Elixir';
}
.org-src-container>pre.src-request:before {
    content: 'http';
}
.org-src-container>pre.src-ipython:before {
    content: 'iPython';
}
.org-src-container>pre.src-kotlin:before {
    content: 'Kotlin';
}
.org-src-container>pre.src-Flavored Erlang  lfe:before {
    content: 'Lisp';
}
.org-src-container>pre.src-mongo:before {
    content: 'MongoDB';
}
.org-src-container>pre.src-prolog:before {
    content: 'Prolog';
}
.org-src-container>pre.src-rec:before {
    content: 'rec';
}
.org-src-container>pre.src-ML  sml:before {
    content: 'Standard';
}
.org-src-container>pre.src-Translate  translate:before {
    content: 'Google';
}
.org-src-container>pre.src-typescript:before {
    content: 'Typescript';
}
.org-src-container>pre.src-rust:before {
    content: 'Rust';
}
