<h2 id="discus">讨论/留言</h2>
<div id="comment">
  <div class="message_it">墙内环境访问Disqus出现任何问题概不负责，请自备梯子解决。
  </div>
  <div title="圆点在左侧为墙内环境，圆点在右侧为墙外环境。" class="comment-toggle-div">
    <input id="comment-toggle" type="checkbox" value="1" name=""/>
    <label for="comment-toggle"></label>
  </div>
<div id="comment"></div>
</div>
<script type="text/javascript" src="https://api.lifecho.org/dist/iDisqus.min.js"></script>
<link href="https://api.lifecho.org/dist/iDisqus.min.css" type="text/css" rel="stylesheet"/>
<script>
var disq = new iDisqus('comment', {
    forum: 'waychan',
    api: 'https://api.lifecho.org/disqus',
    site: 'https://waychan.cn',
    mode: 1,
    timeout: 3000,
    init: true,
    toggle: "comment-toggle"
});
disq.count();
</script>
