<div id="footer">
<div class="footer-info">
<p>Copyright &copy; 2008-<script type="text/javascript">document.write((new Date()).getFullYear());</script> Lu Weiqiang <br>
<a href="/">桑下居</a> 通过 <a href="https://www.gnu.org/software/emacs/" target="_blank" rel="noopener noreferrer">Emacs</a>, <a href="https://orgmode.org" target="_blank" rel="noopener noreferrer">Org</a> Mode 构建，部署在 <a href="https://vercel.com" target="_blank" rel="noopener noreferrer">Vercel</a> 上。</p>
</div>
</div>
