<nav class="menu">
<a accesskey="H" href="/"><i class="fa fa-home"></i><span>&nbsp;首頁</span></a>
<a accesskey="B" href="/blog/"><i class="fa fa-pencil"></i><span>&nbsp;網誌</span></a>
<a accesskey="N" href="/note/"><i class="fa fa-book"></i><span>&nbsp;書房</span></a>
<a accesskey="A" href="/about.html"><i class="fa fa-user"></i><span>&nbsp;關於</span></a>
</nav>
