<h2 id="discus">讨论/留言</h2>
<div id="comment">
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>
    <script>
        new Valine({
            el: '#comment' ,
            appId: 'udfq2GSVldLgn2evBJVtK1oN-MdYXbMMI',
            appKey: 'nY6L8Yz4e7TOXsWoB6vkKVB7',
	    placeholder: 'Just a weblog...',
	    visitor: true,
	    recordIP: true
        });
    </script>
</div>
